<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3><img src="/assets/info.png"> About</h3>
      <div class="row">
        <div class="col-md-6">
          <h4>System</h4>
          <img class="img-responsive" src="/assets/salient-systems-logo.png"><br>
          <p>
            <strong>Progress Workbook</strong><br>
            Version: 1.0.1138.131210
          </p>
          <p>
            &copy; 2013 Salient Systems. All rights reserved.<br>
            Methods and processes &copy; 2013 Jeff Burgard.
          </p>
          <p>
            <strong>Special Thanks</strong>
            <ul>
              <li><a href="http://www.csus.edu">California State University, Sacramento (CSUS)</a></li>
              <li>Dr. Ahmed Salem, CSUS Adviser</li>
              <li>Dr. Weide Chang, CSUS Adviser</li>
              <li>Prof. Robert Buckley, CSUS</li>
              <li><a href="http://www.issaquah.wednet.edu/schools/School.aspx?loc=pine&dord=225">Pine Lake Middle School (PLMS)</a></li>
              <li>Jeff Burgard, PLMS</li>
              <li>Mike DeLetis, PLMS Vice Principal</li>
            </ul>
          </p>
        </div>
        <div class="col-md-6">
          <h4>Legal</h4>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    General Disclaimer
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>All students majoring in Computer Science at CSUS are required to complete a two semester, senior project. The Progress Workbook fulfills this requirement for the project team of William Devereux, Victor Fackrell, David Kramer, Daniel Swartz, and Robert Wall. While the intent of the senior project team (Salient Systems) is to deliver a high quality product that meets the expectations of the sponsor (Pine Lake Middle School), neither the students, the faculty advisers, nor the university can be held responsible for any errors in the delivered software product, failure to meet any of the specified requirements, or failure to deliver the software.</p>
                  <p>Furthermore, due to the academic nature of the experience and its requirement for graduation, Salient Systems was not paid for the work associated with the project.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Support Limitations
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>This project was developed for academic purposes and makes no assurances of support after the conclusion of Senior Project I and II. The sponsor recognizes that neither the senior project team nor any other CSUS representative is obligated to provide software maintenance or additional support.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Ownership of the Product
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>While the software and all supporting materials are delivered to the sponsor as a condition of completion of the project, ownership remains shared between the team members and the sponsor. Team members retain nominal ownership of the software, while the sponsor has received all of the specified documentation along with the software, including both source and executable code.</p>
                  <p>Salient Systems recognizes that the software is based on the work of Jeff Burgard and Pine Lake Middle School and does not claim to own any of the methods, processes, and ideas present in the original system which was provided as a reference. The developers are, however, granted the right to use these methods, processes, and ideas to create the Progress Workbook software, as well as for non-commercial purposes related to showcasing the software as part of a portfolio or as an example of student work.  The Computer Science Department of the College of Engineering and Computer Science at CSUS also reserves the right to use this project’s documentation and product as an example of student work.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>
      </p>
      </p>
	  </div>
	</div>
  </div>
</div>
