<div class="container" id="start2">
  <div class="row">
  <div class="col-md-12">
    <div class="box">
      <h3><img src="/assets/assessment.png"> {{assessment_type.name}}
        <div id="editButton">
          <a ng-click="edit()" class="btn btn-default btn-xs pull-right"><img class="btn-img-sm" src="/assets/edit.png"> Edit</a>
        </div>
        <div id="backButton">
          <a ng-click="back()" class="btn btn-default btn-xs pull-right"><img class="btn-img-sm" src="/assets/back.png"> Back</a>
        </div>
      </h3>
      <p class="text-muted"><a ng-href="#/classes/{{section.id}}">{{section.name}}</a> • <a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a></p>

      <!--<div resize ng-style="style()" ng-grid="gridOptions" id="var-height-grid"></div>-->
      <br>

      <!-- #2 view -->
      <div id="loadingIcon">
        <center><img src="/assets/ajax-loader-snake.gif"></center><br><br>
      </div>
      <div id="assessmentTable" class="assessment-view">
        <table>
          <thead>
            <th class="assessment-heading-space-assessment"></th>
            <th class="assessment-heading-space-criterion"></th>
            <th ng-repeat="assessment in assessments" class="assessment1-criterion-name"><p class="css-vertical-text">{{assessment.name}}</p></th>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td ng-repeat="assessment in assessments" class="scoreHoriz" ng-style="{background: percentColor(assessment.percent)}">{{assessment.percent}}%</td>
            </tr>
            <tr ng-repeat="a in studentbycrit" class="assessment-black-border" ng-class-odd="'odd'" ng-class-even="'even'">
              <td rowspan={{sizeAssessment[0]}} ng-show=showAssessment[domod($index,sizeAssessment[0])] class="assessment-label-row" id="student{{$index}}" rel="popover" class="pull-left" data-toggle="popover" title='<a href="#/students/{{students[tofloor($index / sizeAssessment[0])].id}}">{{students[tofloor($index / sizeAssessment[0])].fname}} {{students[tofloor($index / sizeAssessment[0])].lname}}</a>' data-container="#start2" data-content={{createTemplate($index)}} ng-mousedown="plotitv2($index)">
                <div class="assessment-relative-position">
                  <p class="css-vertical-text">{{students[tofloor($index / sizeAssessment[0])].fname}} {{students[tofloor($index / sizeAssessment[0])].lname}}</p>
                </div>
              </td>
              <td class="assessment2-criterion-name">{{criterions[$index % sizeAssessment[0]].name}}</td>
              <td ng-repeat="assessment in assessments" class="assessment-criterion" ng-style="{background: 'rgba(91,155,213,'+ students[tofloor($parent.$index / sizeAssessment[0])].scores[domod($parent.$index,sizeAssessment[0]) + $index*sizeAssessment[0]].score / criterions[domod($parent.$index,sizeAssessment[0])].max +')'}">
              <input class="inputbox assessment-criterion-input" type="text" ng-style="{background: 'rgba(0,0,204,0)'}" ng-model="students[tofloor($parent.$index / sizeAssessment[0])].scores[domod($parent.$index,sizeAssessment[0]) + $index*sizeAssessment[0]].score" ng-focus="students[tofloor($parent.$index / sizeAssessment[0])].scores[domod($parent.$index,sizeAssessment[0]) + $index*sizeAssessment[0]]" ng-blur="saveGrade(students[tofloor($parent.$index / sizeAssessment[0])].scores[domod($parent.$index,sizeAssessment[0]) + $index*sizeAssessment[0]])" />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-end"></div>
      </div>

      <!-- edit assessment -->
      <div ng-controller="EditCriteriaBasedCtrl" id="editAssessment" class="edit-assessment">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-change="changeAssessmentTypeName()" ng-model="assessment_type_name" name="name" ng-blur="validateName=true" required>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-11">
            <label class="control-label edit-assessment-name">Assessment</label>
          </div>
          <div class="col-sm-1">
            <label class="remove-label">Remove</label>
          </div>
        </div>
        <form name="dataSetForm" class="form-horizontal" role="form">
          <!-- repeat criterions -->
          <div ng-repeat="assessment in editView2Assessments">
            <div class="row">
               <div class="form-group" >
                 <div class="col-sm-11">
                   <input type="text" class="form-control" ng-change="changedOldAssessment(assessment, $index)" ng-model="assessment.name" name="name" ng-blur="validateAssessmentName=true" required>
                 </div>
                 <div class="col-sm-1">
                   <button type="button" class="btn btn-default btn-xs" ng-click="removeAssessment(assessment, $index)" ng-disabled="editView2Assessments.length==1"><img style="height:11px" src="/assets/remove.png" align="absmiddle"></button>
                 </div>
               </div>
             </div>
           </div>
           <div>
             <button type="button" class="btn btn-default btn-xs btn-modal-new-view1" ng-click="newAssessment()"><img style="height:11px" src="/assets/add.png" align="absmiddle"> New</button>
           </div><br><br>

          <div class="col-sm-8">
            <label class="control-label edit-criterion-name">Criterion</label>
          </div>
          <div class="col-sm-3">
            <label class="control-label edit-criterion-max">Max</label>
          </div>
          <div class="col-sm-1">
            <label class="remove-label edit-criterion-remove">Remove</label>
          </div>

           <div ng-repeat="criterion in editView2Criterions"> <!-- only display the list of criteria for the first assessment -->
            <div class="row">
               <div class="form-group" >
                 <div class="col-sm-8">
                   <input type="text" class="form-control" ng-change="changedOldCriterion(criterion, $index)" ng-model="criterion.name" name="name" ng-blur="validateCriterionName=true" required>
                 </div>
                 <div class="col-sm-3">
                   <input type="text" class="form-control" ng-change="changedOldCriterion(criterion, $index)" ng-model="criterion.max" name="name" ng-blur="validateCriterionMax=true" required>
                 </div>
                 <div class="col-sm-1">
                   <button type="button" class="btn btn-default btn-xs" ng-click="removeCriterion(criterion, $index)" ng-disabled="editView2Criterions.length==1"><img style="height:11px" src="/assets/remove.png" align="absmiddle"></button>
                 </div>
               </div>
             </div>
           </div>

           <!-- back button -->
           <div class="btn-assessment3-save-cancel">
             <button type="button" class="btn btn-default btn-xs" ng-click="newAssessment()"><img style="height:11px" src="/assets/add.png" align="absmiddle"> New</button>
             <div style="clear:both;"></div>
             <div class="row cancel-save-button pull-right">
               <button type="button" ng-click="back()" class="btn btn-primary" data-dismiss="modal">Done</button>
             </div>
             <div style="clear:both;"></div>
           </div>
        </form>
      </div>

	  </div>
	</div>
</div>