<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="box" style="margin-bottom:30px;">
      <h3><img src="/assets/assessment.png"> {{assessment_type.name}}
        <div id="editButton">
          <a data-toggle="modal" id="editButton" ng-click="edit()" class="btn btn-default btn-xs pull-right"><img class="btn-img-sm" src="/assets/edit.png"> Edit</a>
        </div>
      </h3>
      <p class="text-muted"><a ng-href="#/classes/{{section.id}}">{{section.name}}</a> • <a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a></p>

      <!--<div resize ng-style="style()" ng-grid="gridOptions" id="var-height-grid"></div>-->
      <br>

      <!-- #1 view -->
      <div id="loadingIcon">
        <center><img src="/assets/ajax-loader-snake.gif"></center><br><br>
      </div>
      <div id="assessmentTable" class="assessment-view">
        <table>
          <thead>
            <th class="assessment1-heading-space">&nbsp;</th>
            <th class="assessment1-heading-space-cover">&nbsp;</th>
            <th class="assessment-relative-left">&nbsp;</th>
            <th ng-repeat="criterion_name in criterions" class="assessment1-criterion-name"><p class="css-vertical-text">{{criterion_name.name}}</p></th>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>

              <td ng-repeat="criterionGrade in criterions.percent" class="scoreHoriz" ng-style="{background: percentColor(criterionGrade)}">{{criterionGrade}}%</td>
            </tr>
            <tr ng-repeat="student in students" class="assessment1-student" ng-class-odd="'odd'" ng-class-even="'even'">
              <td class="assessment1-student-name"><a href="#/students/{{student.id}}">{{student.fname}} {{student.lname}}</a></td>
              <td class="scoreHorizLeft" ng-style="{background: percentColor(student.percent)}">{{student.percent}}%</td>
              <!--<td ng-repeat="criterion in student.scores" style="border: 1px solid black; width: 45px; height: 30px;">{{criterion.score}}</d>-->
              <td ng-repeat="criterion in student.scores" class="assessment-criterion" ng-style="{background: 'rgba(91,155,213,'+ criterion.score / criterions[$index].max +')'}" >
                <!--<input type="number" class="inputbox assessment-criterion-input" type="text" ng-model="criterion.score" ng-style="{background: 'rgba(0,0,204,'+ criterion.score / criterions[$index].max +')'}" ng-focus="checkVal(criterion)" ng-blur="saveGrade(criterion)"/>-->
                <input class="inputbox assessment-criterion-input" type="text" ng-model="criterion.score" ng-style="{background: 'rgba(0,0,204,0)'}" ng-focus="checkVal(criterion)" ng-blur="saveGrade(criterion)"/>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-end"></div>
      </div>

      <!-- edit assessment -->
      <div ng-controller="EditRunChartCtrl" id="editAssessment" class="edit-assessment">
        <div class="row">
          <label class="control-label">Name</label>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" ng-change="changeAssessmentTypeName()" ng-model="assessment_type_name" name="name" ng-blur="validateName=true" required>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label class="control-label">Assessment</label>
          </div>
          <div class="col-md-3">
            <label class="control-label">Max</label>
          </div>
          <div class="col-md-1">
            <label class="remove-label">Remove</label>
          </div>
        </div>
        <form name="dataSetForm" class="form-horizontal" role="form">
          <!-- repeat criterions -->
          <div ng-repeat="criterion in modalCriterions">
            <div class="row">
               <div class="form-group" >
                 <div class="col-md-8">
                   <input type="text" class="form-control" ng-change="changedOldCriterion(criterion, $index)" ng-model="criterion.name" name="name" ng-blur="validateName=true" required>
                 </div>
                 <div class="col-md-3">
                   <input type="text" class="form-control" ng-model="criterion.max" name="name" ng-blur="validateName=true" required>
                 </div>
                 <div class="col-md-1">
                   <button type="button" class="btn btn-default btn-xs" ng-click="remove(criterion)"><img style="height:11px" src="/assets/remove.png" align="absmiddle"></button>
                 </div>
               </div>
             </div>
           </div>
           <!-- add criterion button -->
           <div style="height:75px;">
             <button type="button" class="btn btn-default btn-xs btn-modal-new-view1" ng-click="newCriterion()"><img style="height:11px" src="/assets/add.png" align="absmiddle"> New</button>
             <div style="clear:both;"></div>
             <div class="row cancel-save-button pull-right">
               <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
               <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
             </div>
             <div style="clear:both;"></div>
           </div>
        </form>
      </div>


	  </div>
	</div>
  </div>
</div>