<div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3><img src="/assets/assessment.png"> {{assessment_type.name}}
	  	  <a ng-show="view1" data-toggle="modal" href="#editRunChartModal" class="btn btn-default btn-xs pull-right"><img style="height:11px" src="/assets/edit.png" align="absmiddle"> Edit Criteria</a>
	  	  <a ng-show="view2" data-toggle="modal" href="#editCriteriaBasedModal" class="btn btn-default btn-xs pull-right"><img style="height:11px" src="/assets/edit.png" align="absmiddle"> Edit Criteria</a>
	  	  <a ng-show="view3" data-toggle="modal" href="#editStandardsBasedModal" class="btn btn-default btn-xs pull-right"><img style="height:11px" src="/assets/edit.png" align="absmiddle"> Edit Criteria</a>
	  	</h3>
      <p class="text-muted"><a ng-href="#/section/{{section.id}}">{{section.name}}</a> • <a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a></p>

     	<!--<div resize ng-style="style()" ng-grid="gridOptions" id="var-height-grid"></div>-->
     	<br>

     <!-- #1 view -->
    	<div ng-show="view1" style="width: 100%; overflow-y: hidden; overflow-x: scroll;">
		<table>
		  <section class="group">
		  <th style="position: relative; float: left; width: 120px; height:200px; background-color: #AAAAAA; z-index=150;"><div style="position: absolute; left: -50px; background-color: blue; height: 200px; width: 120px; ">&nbsp;</div></th>
          </section>
		  <th ng-repeat="criterion_name in criterions" style="position:relative; background-color: #EEEEEE;"><div class="rotate">{{criterion_name.name}}</div></th>
		
		  <tr ng-repeat="student in students" style="border: 1px solid black; overflow: hidden;position: relative;" ng-class-odd="'odd'" ng-class-even="'even'">
			<td style="border-left: 1px solid black; border-right: 1px solid black; width: 15px; height: 32px; float:left; left:35px; position: absolute; z-index: 200; width: 120px; background-color: inherit; overflow: hidden;">{{student.fname}} {{student.lname}}</td>
			<!--<td ng-repeat="criterion in student.scores" style="border: 1px solid black; width: 45px; height: 30px;">{{criterion.score}}</d>-->
			<td ng-repeat="criterion in student.scores" style="border: 1px solid black; width: 45px; height: 30px;">
				<input class="inputbox" type="text" ng-model="criterion.score" style="width: 40px; height: 30px;" ng-focus="checkVal(criterion)" ng-blur="saveGrade(criterion)"/>
			</td>
		  </tr>
        <div style="position: absolute; background-color: red; width: 120px; height: 200px; top: 0px;">&nbsp;</div>
        </table>
        
        <div style="clear:both"></div>
        </div>


		<!-- #2 view -->
		<div ng-show="view2" style="width: 100%; overflow-y: hidden; overflow-x: scroll;">
		<table>
		  <th style="height:200px;width: 30px;"></th>
		  <th style="width: 150px;"></th>

		  <th ng-repeat="assessment in assessments" style="background-color: #EEEEEE;"><div style="position:relative"><div class="rotate">{{assessment.name}}</div></div></th>

		  <tr ng-repeat="a in range(domulti(students.length, sizeAssessment[0]))" style="border: 1px solid black;" ng-class-odd="'odd'" ng-class-even="'even'">

			<td rowspan={{sizeAssessment[0]}} ng-show=showAssessment[domod($index,sizeAssessment[0])] style="background-color: #AAAAAA; border: 1px solid black;"><div style="position:relative"><div class="rotate2">{{students[tofloor($index / sizeAssessment[0])].fname}} {{students[tofloor($index / sizeAssessment[0])].lname}}</div></div></td>
            <td>{{criterions[$index % sizeAssessment[0]].name}}</td>
			<td ng-repeat="b in range(assessments.length)" style="border: 1px solid black; width: 45px; height: 30px;">
				<input class="inputbox" type="text" ng-model="students[tofloor($parent.$index / sizeAssessment[0])].scores[$index + $index*sizeAssessment[0]].score" style="width: 45px; height: 30px;" ng-focus="checkVal(students[tofloor($parent.$index / sizeAssessment[0])].scores[$index + $index*sizeAssessment[0]])" ng-blur="saveGrade(students[tofloor($parent.$index / sizeAssessment[0])].scores[$index + $index*sizeAssessment[0]])" />
			</td>
		  </tr>
        </table>
        <div style="clear:both"></div>
        </div>



     <!-- #3 view -->
     <div ng-show="view3" style="width: 100%; overflow-y: hidden; overflow-x: scroll;">
		<table>
		  <th style="height:200px;width: 30px;"></th>
		  <th style="width: 30px;"></th>
		  <th style="width: 150px;"></th>

		  <th ng-repeat="student in students" style="background-color: #EEEEEE;"><div style="position:relative"><div class="rotate">{{student.fname}} {{student.lname}}</div></div></th>

		  <tr ng-repeat="criterion in criterions" style="border: 1px solid black;" ng-class-odd="'odd'" ng-class-even="'even'">

			<td rowspan={{sizeAssessment[$index]}} ng-show=showAssessment[$index] style="background-color: #AAAAAA; border: 1px solid black;"><div style="position:relative"><div class="rotate2">{{assessments[indexAssessment[$index]].name}}</div></div></td>
			<td rowspan={{sizeAssessment[$index]}} ng-show=showAssessment[$index] style="background-color: #CCCCCC; border: 1px solid black;"><div style="position:relative"><div class="rotate2">{{assessments[indexAssessment[$index]].subject}}</div></div></td>

			<td>{{criterions[$index].name}}</td>
			<td ng-repeat="student in students" style="border: 1px solid black; width: 45px; height: 30px;">
				<input class="inputbox" type="text" ng-model="student.scores[$parent.$index].score" style="width: 45px; height: 30px;" ng-focus="checkVal(student.scores[$parent.$index])" ng-blur="saveGrade(student.scores[$parent.$index])" />
			</td>
		  </tr>
        </table>
        <div style="clear:both"></div>
        </div>



     <p>
     <!-- Drop-down button -->
<!--     <div class="btn-group">
       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
         Bulk Actions <span class="caret"></span>
       </button>
       <ul class="dropdown-menu" role="menu">
         <li><a href="#">Compare</a></li>
         <li><a data-toggle="modal" href="#addToCohortModal">Add to Cohort</a></li>
         <li><a href="#">Remove from Class</a></li>
       </ul>
     </div>
-->
     <!-- Right-aligned button trigger modal -->
<!--      <a data-toggle="modal" href="#addStudentModal" class="btn btn-default pull-right">Add Student</a>
-->
      <!-- Modal -->
<!--      <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add to Class</h4>
            </div>
            <div class="modal-body">
              <input type="search" class="form-control input" placeholder="Search students..." />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
   </p>
-->
    <!-- Modal #1-->
    <div ng-controller="EditRunChartCtrl" class="modal fade" id="editRunChartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- head of modal -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit Criteria</h4>
          </div>
          <!-- body of modal -->
          <div class="modal-body">
            <form name="dataSetForm" class="form-horizontal" role="form">
              <!-- repeat criterions -->
              <div ng-repeat="criterion_name in criterions">
                <div class="row">
                   <div class="form-group" >
                     <label for="inputDataType" style="height:11px" class="col-md-3 control-label">Criterion {{$index + 1}}</label>
                     <div class="col-md-5">
                       <input type="text" class="form-control" ng-model="criterion_name.name" name="name" ng-blur="validateName=true" required>
                     </div>
                     <div class="col-md-3">
                       <input type="text" class="form-control" ng-model="criterion_name.max" name="name" ng-blur="validateName=true" required>
                     </div>
                     <button type="button" class="btn btn-default btn-xs" data-dismiss="modal"><img style="height:11px" src="/assets/remove.png" align="absmiddle"></button>
                   </div>
                 </div>
               </div>
               <!-- add criterion button -->
               <div class "row">
                 <div class="form-group" >
                     <button type="button" class="btn btn-default btn-xs pull-right" ng-click="newCriterion($index)"><img style="height:11px" src="/assets/add.png" align="absmiddle"> New Criterion</button>
                 </div>
               </div>
            </form>
          </div>
          <!-- footer of modal -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


	  </div>
	</div>
  </div>
</div>