<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="box">
        	<h3>Assessments</h3>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box">
            <h3>Graph</h3>
        </div>
    </div>
  </div>
  
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Students</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
            <th>Active</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="student in data.students">
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.grade_level}}</td>
            <td>{{student.is_active}}</td>
          </tr>
        </tbody>
      </table>
	  </div>
	</div>
  </div>
</div>