<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Cohorts</h3>

	     <!-- Search box -->
       <p>
          <input type="text" ng-model="search.name" ng-model="search.name" class="form-control input-sm" placeholder="Search for a cohort..." />
       </p>

      <!-- Table -->
	  	<table class="table table-striped">
        <thead>
          <tr>
            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
            <th>Size</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="cohort in cohorts | filter:search | orderBy:predicate:reverse">
            <td><a ng-href="#/cohorts/{{cohort.id}}">{{cohort.name}}</a></td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
      <p>
      <!-- Drop-down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Bulk Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Compare</a></li>
            <li><a href="#">Delete Cohort</a></li>
        </ul>
      </div>

      <!-- Right-aligned button -->
      <button type="button" class="btn btn-default pull-right">Add Cohort</button>
    </p>
	  </div>
	</div>
  </div>
</div>