<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Cohorts</h3>

	     <!-- Search box -->
       <p>
          <input type="search" ng-model="search.name" ng-model="search.name" class="form-control input-sm" placeholder="Search for a cohort..." />
       </p>

      <!-- Table -->
	  	<table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="cohort in cohorts">
            <td><a ng-href="#/cohorts/{{cohort.id}}">{{cohort.name}}</a></td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
      <p>
      <!-- Drop-down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Bulk Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Compare</a></li>
            <li><a href="#">Delete Cohort</a></li>
        </ul>
      </div>

        <!-- Right-aligned button trigger modal -->
        <a data-toggle="modal" href="#createCohortModal" class="btn btn-default pull-right">Create Cohort</a>
    </p>

    <!-- Modal -->
    <div class="modal fade" id="createCohortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create Cohort</h4>
          </div>
          <div class="modal-body">
            <input ng-model="newCohort.name" type="text" class="form-control input-sm" placeholder="Name..." />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button ng-click="save()" type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	  </div>
	</div>
  </div>
</div>