<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3><img src="/assets/group.png"> {{cohort.name}}
	  	  <a data-toggle="modal" href="#addToCohortModal" class="btn btn-default btn-xs pull-right"><img class="btn-img-sm" src="/assets/add.png"> Add Student</a>
	  	  <a data-toggle="modal" href="#editCohortModal" class="btn btn-default btn-xs pull-right"><img class="btn-img-sm" src="/assets/edit.png"> Edit</a>
	  	</h3>
	  	  <p>
          <input type="search" ng-model="gridOptions.filterOptions.filterText" class="form-control input" placeholder="Search students..." />
        </p>

        <div resize id="var-height-grid" ng-style="style()" ng-grid="gridOptions"></div>

        <p>
          <!-- Drop-down button -->
          <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" ng-class="{disabled: selections.length == 0}">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a data-toggle="modal" href="#graphConfigModal">Compare</a></li>
              <li><a data-toggle="modal" href="#confirmRemovalModal">Remove from Cohort</a></li>
            </ul>
          </div>

          <!-- Right-aligned button trigger modal -->
          <!--<a data-toggle="modal" href="#addToCohortModal" class="btn btn-default pull-right">Add Student</a>-->
        </p>

	  </div>
	</div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addToCohortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add to Cohort</h4>
      </div>
      <div class="modal-body">
        <div class="text-warning modalNotification">
          <span id="inClass" class="text-warning">This student is already in the cohort.</span>
          <span id="addSuccess" class="text-success">Success!</span>
        </div>
        <input id="studentSearch" type="text" class="form-control input" placeholder="Search students..." />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <!-- Modal -->
  <div class="modal fade" id="editCohortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Cohort</h4>
        </div>
        <div class="modal-body">
          <form name="editCohortForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateName && {'has-error': editCohortForm.name.$invalid}">
              <label for="inputFName" class="col-lg-1 control-label">Name</label>
              <div class="col-lg-11">
                <input type="text" class="form-control" id="inputName" ng-model="editCohort.name" name="name" ng-blur="validateName=true" required >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="resetValidation()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="save()" type="button" class="btn btn-primary" ng-disabled="editCohortForm.$invalid">Update</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: Confirm Deletion -->
  <div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirm Removal</h4>
        </div>
        <div class="modal-body">

          <div class="bs-callout bs-callout-warning">
            <h4>Warning</h4>
            <p>Are you sure you want to remove the student from this cohort?</p>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a data-dismiss="modal" href="" ng-click="removeFromCohort()" class="btn btn-warning">Remove</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: Configure Graph -->
  <div class="modal fade" id="graphConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="resetCompareValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Comparison Options</h4>
        </div>
        <div class="modal-body">

          <form name="dataSetForm" class="form-horizontal" role="form">
            <div class="row">
                <div class="form-group" >
                  <!-- Class selector -->
                  <label for="inputDataType" class="col-md-4 control-label">Class</label>
                  <div class="col-md-7">
                    <select class="form-control row-sm-2" ng-model="graphConfig.sectionId" ng-change="graphConfig.updateSection()" ng-options="section.id as section.name for section in graphConfig.sections" name="section" ng-disabled="dataSetForm.term.$invalid" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Assessment type selector -->
                  <label for="inputDataType" class="col-md-4 control-label">Assessment Type</label>
                  <div class="col-md-7">
                    <select class="form-control row-sm-2" ng-model="graphConfig.assessmentTypeId" ng-change="graphConfig.updateAssessmentType()" ng-options="assessmentType.id as assessmentType.name for assessmentType in graphConfig.assessmentTypes" name="assessment_type" ng-disabled="dataSetForm.section.$invalid" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Assessment selector -->
                  <label for="inputDataType" class="col-md-4 control-label">{{graphConfig.assessmentLabel}}</label>
                  <div class="col-md-7">
                    <select class="form-control row-sm-2" ng-model="graphConfig.assessmentId" ng-change="graphConfig.updateAssessment()" ng-options="assessment.id as assessment.name for assessment in graphConfig.assessments" name="assessment" ng-disabled="dataSetForm.assessment_type.$invalid" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Criterion selector -->
                  <label for="inputDataType" class="col-md-4 control-label">{{graphConfig.criterionLabel}}</label>
                  <div class="col-md-7">
                    <select class="form-control row-sm-2" ng-model="graphConfig.criterionId" ng-change="graphConfig.updateCriterion()" ng-options="criterion.id as criterion.name for criterion in graphConfig.criterions" name="criterion" ng-disabled="dataSetForm.assessment.$invalid" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
                <div class="form-group" ng-class="validateStatistic && {'has-error': dataSetForm.statistic.$invalid}">
                  <!-- Statistic selector -->
                  <label for="inputDataType" class="col-md-4 control-label">Statistic</label>
                  <div class="col-md-7">
                    <select class="form-control row-sm-2" name="statistic" ng-model="graphConfig.statisticId" ng-blur="validateStatistic=true" ng-options="statistic.id as statistic.name for statistic in graphConfig.statistics" name="statistic" ng-disabled="dataSetForm.assessment_type.$invalid" required>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button ng-click="resetCompareValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a data-dismiss="modal" href="" ng-click="compare()" class="btn btn-primary" ng-disabled="dataSetForm.statistic.$invalid">Compare</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>