<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>"{{cohort.name}}" Cohort</h3>

	  	  <p>
          <input type="text" ng-model="search.fname" ng-model="search.lname" class="form-control input-sm" placeholder="Search for a name or student ID..." />
        </p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
              <th>Student ID</th>
              <th>Grade</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="student in students | filter:search | orderBy:predicate:reverse">
              <td><a ng-href="#/students/{{student.id}}">{{student.fname}} {{student.lname}}</a></td>
              <td>{{student.id}}</td>
              <td>{{student.grade_level}}</td>
            </tr>
         </tbody>
       </table>
       <p>

       <!-- Drop-down button -->
       <div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Bulk Actions <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu">
           <li><a href="#">Compare</a></li>
           <li><a href="#">Remove from Cohort</a></li>
         </ul>
       </div>

       <!-- Right-aligned button -->
       <button type="button" class="btn btn-default pull-right">Add Student</button>
     </p>

	  </div>
	</div>
  </div>
</div>