<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Progress Workbook</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#classes">Classes</a></li>
        <li><a href="#students">Students</a></li>
        <li><a href="#performance">Performance</a></li>
        <li><a href="#users">Users</a></li>
        <li><a href="#cohorts">Cohorts</a></li>
      </ul>
    </div>
  </div>
</div>
  <div ng-view></div>
</div>


