<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Progress Workbook</a>
    </div>
    <div class="collapse navbar-collapse" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li class="{{classes}}"><a href="#/classes">Classes</a></li>
        <li class="{{students}}"><a href="#/students">Students</a></li>
        <li class="{{performance}}"><a href="#/performance">Performance</a></li>
        <li class="{{users}}"><a href="#/users">Users</a></li>
        <li class="{{cohorts}}"><a href="#/cohorts">Cohorts</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Help + About</a></li>
          </ul>
	      </li>
      </ul>
    </div>
  </div>
</div>
  <div ng-view></div>
</div>