<div ng-controller="PerformanceCtrl" class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3><img src="/assets/graph.png"> Performance</h3>

	  	<!-- Graph -->
    	<div ng-controller="ChartCtrl">
        	<chart ng-model="data"></chart>
    	</div>

	  	<!-- Accordion Panel -->
      <div ng-controller="DatasetCtrl" class="panel-group" id="accordion" >
          <div ng-repeat="panel in panels" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#dataset{{panel.id}}">
                  Data Set {{$index + 1}}
                </a>
              </h4>
            </div>
            <div id="dataset{{panel.id}}" class="panel-collapse collapse {{panel.open && 'in'}}">
              <div class="panel-body">
              	<form name="dataSetForm" class="form-horizontal" role="form">
              		<!-- Search Box -->
              		<div class="form-group">
		                  <!-- Term selector -->
		                  <div class="col-sm-12">
			                   <input type="text" ng-model="search.name" ng-model="search.name" class="form-control input" placeholder="Search teachers, students, and cohorts..." />
		                  </div>
					         </div>
        					 <div class="row">
        					   <div class="col-md-6">
                    	 <div class="form-group" >
                    	   <!-- Term selector -->
                         <label for="inputDataType" class="col-md-3 control-label">Term</label>
                         <div class="col-md-9">
            	             <select class="form-control row-sm-2" ng-model="panels[$index].termId" ng-change="updateTerm($index)" ng-options="term.id as term.name for term in terms" name="term" required></select>
                         </div>
        						   </div>
        						   <div class="form-group">
        					       <!-- Class selector -->
                         <label for="inputDataType" ng-click="clickClass()"class="col-md-3 control-label">Class</label>
                         <div class="col-md-9">
                           <select class="form-control row-sm-2" ng-model="panels[$index].sectionId" ng-change="updateSection($index)" ng-options="section.id as section.name for section in panels[$index].sections" name="section" ng-disabled="dataSetForm.term.$invalid" required>
                             <option value=""></option>
                           </select>
                         </div>
                       </div>
                       <div class="form-group">
                         <!-- Statistic selector -->
                         <label for="inputDataType" class="col-md-3 control-label">Statistic</label>
                         <div class="col-md-9">
                           <select class="form-control row-sm-2" ng-model="panels[$index].statistic" name="statistic" ng-disabled="dataSetForm.section.$invalid" required>
                             <option>Total Correct</option>
                             <option>Percentage Correct</option>
                             <option>Total Possible</option>
                             <option>Percent Possible</option>
                             <option>Total Goal</option>
                             <option>Percent Goal</option>
                             <option>Score Distribution (Total)</option>
                             <option>Score Distribution (Percent)</option>
                             <option>Students Present</option>
                             <option>Students Enrolled</option>
                           </select>
                         </div>
                       </div>
        					   </div>
        					   <div class="col-md-6">
        						   <div class="form-group">
                         <!-- Assessment type selector -->
                         <label for="inputDataType" class="col-md-4 control-label">Assessment Type</label>
                         <div class="col-md-8">
                           <select class="form-control row-sm-2" ng-model="panels[$index].assessmentTypeId" ng-change="updateAssessmentType($index)" ng-options="assessmentType.id as assessmentType.name for assessmentType in panels[$index].assessmentTypes" name="assessment_type" ng-disabled="dataSetForm.section.$invalid" required>
                             <option value=""></option>
                           </select>
                         </div>
                       </div>
                       <div class="form-group">
                         <!-- Assessment selector -->
                         <label for="inputDataType" class="col-md-3 control-label">Assessment</label>
                         <div class="col-md-9">
                           <select class="form-control row-sm-2" ng-model="panels[$index].assessmentId" ng-change="updateAssessment($index)" ng-options="assessment.id as assessment.name for assessment in panels[$index].assessments" name="assessment" ng-disabled="dataSetForm.assessment_type.$invalid" required>
                             <option value=""></option>
                           </select>
                         </div>
                       </div>
                       <div class="form-group">
                         <!-- Criterion selector -->
                         <label for="inputDataType" class="col-md-3 control-label">Criterion</label>
                         <div class="col-md-9">
                           <select class="form-control row-sm-2" ng-model="panels[$index].criterionId" ng-options="criterion.id as criterion.name for criterion in panels[$index].criterions" name="criterion" ng-disabled="dataSetForm.assessment.$invalid" required>
                             <option value=""></option>
                           </select>
                         </div>
                       </div>
        					   </div>
        					 </div>

  	              <!-- Right-aligned buttons -->
  	              <button type="button" ng-click="save($index)" class="btn btn-default pull-right btn-primary">Save</button>
  	              <button type="button" class="btn btn-default pull-right btn-action">Duplicate</button>
  	              <button type="button" class="btn btn-default pull-right btn-action">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br>
		<!-- end of accordion -->
	  </div>
	</div>
	</div>
</div>