<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Classes</h3>

	  	<!-- Search box -->

      <p>
        <input type="search" ng-model="search.name" ng-model="search.name" class="form-control input" placeholder="Search for a class, subject, grade, or teacher..." />
      </p>

	  	<table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Grade</th>
            <!-- We'll need to add a period field to the database if we want to match the mockups -->
            <th>Teacher</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="section in sections">
            <td><a ng-href="#/classes/{{section.id}}">{{section.name}}</a></td>
            <td>{{section.subject.name}}</td>
            <td>{{section.grade_level}}</td>
            <td><a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a></td>
          </tr>
        </tbody>
      </table>
      <p>
        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="#">Compare</a></li>
           <li><a href="#">Delete Class</a></li>
         </ul>
       </div>

       <div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Term <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu">
           <li><a href="#">2013-2014</a></li>
           <li><a href="#">2012-2013</a></li>
           <li><a href="#">2011-2012</a></li>
           <li><a href="#">2010-2011</a></li>
           <li><a href="#">2009-2010</a></li>
          </ul>
        </div>

        <!-- Right-aligned button trigger modal -->
        <a data-toggle="modal" href="#createSectionModal" class="btn btn-default pull-right">Create Class</a>

        <!-- Modal -->
        <div class="modal fade" id="createSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a Class</h4>
              </div>
              <div class="modal-body">

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Class Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                    <div class="col-lg-8">
                      <select class="form-control">
                        <option>Physical Science</option>
                        <option>Math</option>
                        <option>English</option>
                        <option>PE</option>
                        <option>History</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-default">Add New</button><br>
                  </div>
                  <div class="form-group">
                    <label for="inputPeriod" class="col-lg-2 control-label">Period</label>
                    <div class="col-lg-10">
                      <select class="form-control">
                        <option>1st Period</option>
                        <option>2nd Period</option>
                        <option>3rd Period</option>
                        <option>4th Period</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputGrade" class="col-lg-2 control-label">Grade</label>
                    <div class="col-lg-10">
                      <select class="form-control">
                        <option>6th Grade</option>
                        <option>7th Grade</option>
                        <option>8th Grade</option>
                        <option>9th Grade</option>
                      </select>
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </p>
    </div>
	</div>
  </div>
</div>