<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Classes</h3>
	  	<table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Grade</a></th>
            <!-- We'll need to add a period field to the database if we want to match the mockups -->
            <th>Teacher</th>
          </tr>
        <thead>
        <tbody>
          <tr ng-repeat="section in sections">
            <td><a ng-href="#/classes/{{section.id}}">{{section.name}}</a></td>
            <td>{{section.subject.name}}</td>
            <td>{{section.grade_level}}</td>
            <td>{{section.user.fname}} {{section.user.lname}}</td>
          </tr>
        </tbody>
      </table>
      <p>
        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="#">Compare</a></li>
           <li><a href="#">Delete Class</a></li>
         </ul>
       </div>

       <div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Term <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu">
           <li><a href="#">2013-2014</a></li>
           <li><a href="#">2012-2013</a></li>
           <li><a href="#">2011-2012</a></li>
           <li><a href="#">2010-2011</a></li>
           <li><a href="#">2009-2010</a></li>
          </ul>
        </div>

        <!-- Right-aligned button -->
        <button type="button" class="btn btn-default pull-right">Add Class</button>
      </p>
    </div>
	</div>
  </div>
</div>