<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <h3><img src="/assets/class.png"> {{section.name}} <a data-toggle="modal" href="#editSectionModal" class="btn btn-default btn-xs pull-right"><img style="height:11px" src="/assets/edit.png" align="absmiddle"> Edit</a></h3>
        <p class="text-muted"><a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a>'s {{section.grade_level}}th Grade {{section.subject.name}} ({{section.term.name}})</p>
      </div>
    </div>
    <div class="col-md-4" id="var-height-assessment">
        <div class="box">
        	<h3>Assessments</h3>
          <p>
            <div ng-repeat="assessment_type in assessment_types">
              <a ng-href="#/classes/{{section.id}}/assessment_type/{{assessment_type.id}}/view/{{assessment_type.view}}">{{assessment_type.name}}</a>
            </div>
          </p>
          <p>
            <!-- Right-aligned button trigger modal -->
            <a data-toggle="modal" href="#createAssessmentModal" class="btn btn-default btn-xs"><img style="height:11px" src="/assets/add.png" align="absmiddle"> Create an Assessment Type</a>
          </p>
        </div>
    </div>
    <div class="col-md-8" id="var-height-graph">
        <div class="box">
            <h3>Graph</h3>
        </div>
    </div>
  </div>

  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Students<a data-toggle="modal" href="#addStudentModal" class="btn btn-default btn-xs pull-right"><img style="height:11px" src="/assets/add.png" align="absmiddle"> Add Student</a></h3>

      <div resize2 id="var-height-grid" ng-style="style()" ng-grid="gridOptions"></div>

     <p>
     <!-- Drop-down button -->
     <div class="btn-group dropup">
       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{disabled: selections.length == 0}">
         Actions <span class="caret"></span>
       </button>
       <ul class="dropdown-menu" role="menu">
         <li><a href="#">Compare</a></li>
         <li><a data-toggle="modal" href="#addToCohortModal">Add to Cohort</a></li>
         <li><a data-toggle="modal" href="#confirmRemovalModal">Remove from Class</a></li>
       </ul>
     </div>

     <!-- Right-aligned button trigger modal -->
      <!--<a data-toggle="modal" href="#addStudentModal" class="btn btn-default pull-right">Add Student</a>-->

      <!-- Modal -->
      <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add to Class</h4>
            </div>
            <div class="modal-body">
              <div class="text-warning modalNotification">
                <span id="inClass" class="text-warning">This student is already in the class.</span>
                <span id="addSuccess" class="text-success">Success!</span>
              </div>
              <input id="studentSearch" type="text" class="form-control input" placeholder="Search students..." />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      </p>

	  </div>
	</div>
  </div>

  <!-- Modal -->
  <div class="modal fade" ng-controller="AddAssessment" id="createAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="resetValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create an Assessment Type</h4>
        </div>
        <div class="modal-body">

          <form name="createAssessmentForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateName && {'has-error': createAssessmentForm.name.$invalid}">
              <label for="inputName" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input ng-model="newAssessment.name" type="text" class="form-control" id="inputName" placeholder="Name" name="name" ng-blur="validateName=true" required>
              </div>
            </div>
            <div class="form-group" ng-class="validateNumAssessments && {'has-error': createAssessmentForm.numAssessments.$invalid}">
              <label for="inputNumAssessments" class="col-lg-2 control-label">Count</label>
              <div class="col-lg-10">
                <input ng-model="newAssessment.count" type="number"  min="0" class="form-control" id="inputNumAssessments" placeholder="Initial Number of Assessments" name="numAssessments" ng-blur="validateNumAssessments=true" required>
              </div>
            </div>
            <div class="form-group" ng-class="validateStyle && {'has-error': createAssessmentForm.style.$invalid}">
              <label for="inputStyle" class="col-lg-2 control-label">Style</label>
              <div class="col-lg-10">
                <select ng-model="newAssessment.view" class="form-control" name="style" ng-blur="validateStyle=true" required>
                  <option value="1">Run Chart</option>
                  <option value="2">Criteria-Based</option>
                  <option value="3">Standards-Based</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-class="validateType && {'has-error': createAssessmentForm.type.$invalid}">
              <label for="inputDataType" class="col-lg-2 control-label">Type</label>
              <div class="col-lg-10">
                <select ng-model="newAssessment.data_type" class="form-control" name="type" ng-blur="validateType=true" required>
                  <option value="1">Score</option>
                  <option value="2">Time</option>
                </select>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button ng-click="resetValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="saveAssessment()" value="submit" class="btn btn-primary" ng-disabled="createAssessmentForm.$invalid">Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Class</h4>
        </div>
        <div class="modal-body">

          <form name="editSectionForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateName && {'has-error': editSectionForm.name.$invalid}">
              <label for="inputName" class="col-lg-2 control-label">Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" placeholder="Class Name" ng-model="editSection.name" name="name" ng-blur="validateName=true" required>
              </div>
            </div>
            <div class="form-group" ng-class="validateSubject && {'has-error': editSectionForm.subject.$invalid}">
              <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
              <div class="col-lg-10">
                <select class="form-control" ng-model="editSection.subject_id" ng-options="subject.id as subject.name for subject in subjects" name="subject" ng-blur="validateSubject=true" required></select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPeriod" class="col-lg-2 control-label">Period</label>
              <div class="col-lg-10">
                <select class="form-control" ng-model="editSection.period">
                  <option></option>
                  <option value="1">1st Period</option>
                  <option value="2">2nd Period</option>
                  <option value="3">3rd Period</option>
                  <option value="4">4th Period</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-class="validateGrade && {'has-error': editSectionForm.grade.$invalid}">
              <label for="inputGrade" class="col-lg-2 control-label">Grade</label>
              <div class="col-lg-10">
                <select class="form-control" ng-model="editSection.grade_level" name="grade" ng-blur="validateGrade=true" required>
                  <option value="6">6th Grade</option>
                  <option value="7">7th Grade</option>
                  <option value="8">8th Grade</option>
                </select>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button ng-click="resetValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="save()" value="submit" class="btn btn-primary" ng-disabled="editSectionForm.$invalid">Update</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div ng-controller="AddToCohort" class="modal fade" id="addToCohortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="resetCohortValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add to Cohort</h4>
        </div>
        <div class="modal-body">
          <form name="addToCohortForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateCohort && {'has-error': addToCohortForm.cohort.$invalid}">
              <label for="addToCohort" class="col-lg-2 control-label">Cohort</label>
              <div class="col-lg-10">
                <select class="form-control" ng-model="cohortId" ng-options="cohort.id as cohort.name for cohort in cohorts" name="cohort" ng-blur="validateCohort=true" required></select>
              </div>
            </div>
          </form>

        </div>

        <div class="modal-footer">
          <button ng-click="resetCohortValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="addToCohort()" value="submit" class="btn btn-primary" ng-disabled="addToCohortForm.$invalid">Add</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: Confirm Deletion -->
  <div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirm Removal</h4>
        </div>
        <div class="modal-body">

          <div class="bs-callout bs-callout-warning">
            <h4>Warning</h4>
            <p>Are you sure you want to remove the student from this class? All of their assessment grades will be lost.</p>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a data-dismiss="modal" href="" ng-click="removeFromClass()" class="btn btn-warning">Remove</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>