<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3><img src="/assets/settings.png"> Settings</h3>
	  	  <div class="row">
	  	    <div class="col-md-8">

          <h4>Change Password</h4>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="currentPassword" class="col-lg-3 control-label">Current Password</label>
              <div class="col-lg-9">
                <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-lg-3 control-label">New Password</label>
              <div class="col-lg-9">
                <input type="password" class="form-control" id="newPassword" placeholder="New Password">
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="col-lg-3 control-label">Confirm Password</label>
              <div class="col-lg-9">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-9">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-offset-1 col-md-3">
          <h4>More Options</h4>
          <a data-toggle="modal" href="#advanceTerm" class="btn btn-default">Advance Term</a>
          <a data-toggle="modal" href="#addSubject" class="btn btn-default">Add Subject</a>
        </div>
        <p></p>
      </div>
	  </div>
	</div>
  </div>
</div>

<!-- Modal: Advance Term -->
<div ng-controller="AddStudent" class="modal fade" id="advanceTerm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="resetValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Student</h4>
      </div>
      <div class="modal-body">

        <form name="createStudentForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateFName && {'has-error': createStudentForm.fname.$invalid}">
              <label for="inputFName" class="col-lg-3 control-label">First Name</label>
              <div class="col-lg-9">
                <input name="fname" ng-model="newStudent.fname" type="text" class="form-control" id="inputFName" ng-blur="validateFName=true" placeholder="First Name" required>
              </div>
            </div>
            <div class="form-group" ng-class="validateLName && {'has-error': createStudentForm.lname.$invalid}">
              <label for="inputLName" class="col-lg-3 control-label">Last Name</label>
              <div class="col-lg-9">
                <input name="lname" ng-model="newStudent.lname" type="text" class="form-control" id="inputLName" ng-blur="validateLName=true" placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group" ng-class="validateSid && {'has-error': createStudentForm.sid.$invalid}">
              <label for="inputSID" class="col-lg-3 control-label">Student ID</label>
              <div class="col-lg-9">
                <input name="sid" ng-model="newStudent.sid" type="number" class="form-control" id="inputSID" ng-blur="validateSid=true" placeholder="Student ID" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDataType" class="col-lg-3 control-label">Gender</label>
              <div class="col-lg-9">
                <select ng-model="newStudent.gender" class="form-control">
                  <option value=""></option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                </select>
              </div>
            </div>
          </form>

      </div>
      <div class="modal-footer">
        <button ng-click="resetTermValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="saveTerm()" value="submit" class="btn btn-primary" ng-disabled="createStudentForm.$invalid">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal: Add Subject -->
<div ng-controller="AddSubject" class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="resetValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Subject</h4>
      </div>
      <div class="modal-body">

        <form name="addSubjectForm" class="form-horizontal" role="form">
            <div class="form-group" ng-class="validateName && {'has-error': addSubjectForm.name.$invalid}">
              <label for="inputName" class="col-lg-2 control-label">Subject</label>
              <div class="col-lg-10">
                <input name="name" ng-model="newSubject.name" type="text" class="form-control" id="inputName" ng-blur="validateName=true" placeholder="Subject Name" required>
              </div>
            </div>
          </form>

      </div>
      <div class="modal-footer">
        <button ng-click="resetSubjectValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="saveSubject()" value="submit" class="btn btn-primary" ng-disabled="addSubjectForm.$invalid">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->