<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Settings</h3>
	  	<p>
	  	  <h4>Change password</h4>
	  	</p>
  	  <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="currentPassword" class="col-lg-2 control-label">Current Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-lg-2 control-label">New Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password">
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-9">
            <button type="submit" class="btn btn-primary">Update</button>

          </div>
        </div>
      </form>

      <p>
        <h4>More Options</h4>
      </p>
      <button type="button" class="btn btn-default">Advance School Year</button><br><br>

	  </div>
	</div>
  </div>
</div>