<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Settings</h3>

      <div class="row">
        <div class="col-md-10">
	  	    <h4>Change password</h4>
      	  <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="currentPassword" class="col-lg-2 control-label">Current Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword" class="col-lg-2 control-label">New Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="newPassword" placeholder="New Password">
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Update</button>

              </div>
            </div>
          </form>
        </div>

        <div class="col-md-2">
          <h4>More Options</h4>
          <button type="button" class="btn btn-default">Advance School Year</button><br><br>
        </div>
      </div>

	  </div>
	</div>
  </div>
</div>