<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
      <h3>{{student.fname}} {{student.lname}} <img src="/assets/gradcap.png"></h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Subject</th>
              <th>Period</th>
              <th>Teacher</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="section in sections">
              <td><a ng-href="#/classes/{{section.id}}">{{section.name}}</a></td>
              <td>{{section.subject.name}}</td>
              <td>{{section.grade_level}}</td>
              <td><a ng-href="#/users/{{section.user.id}}">{{section.user.fname}} {{section.user.lname}}</a></td>
            </tr>
         </tbody>
       </table>

       <p>
       <!-- Drop-down button -->
       <div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Bulk Actions <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu">
             <li><a href="#">Compare</a></li>
             <li><a href="#">Remove from Class</a></li>
         </ul>
       </div>

        <!-- Right-aligned button trigger modal -->
        <a data-toggle="modal" href="#editStudentModal" class="btn btn-default pull-right">Edit Profile</a>

        <!-- Modal -->
        <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Profile</h4>
              </div>
              <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="inputFName" class="col-lg-3 control-label">First Name</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputFName" ng-model="student.fname">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputLName" class="col-lg-3 control-label">Last Name</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputLName" ng-model="student.lname">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputSID" class="col-lg-3 control-label">Student ID</label>
                      <div class="col-lg-9">
                          <input type="number" class="form-control" id="inputSID" ng-model="student.sid">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputStyle" class="col-lg-3 control-label">Grade</label>
                      <div class="col-lg-9">
                        <select class="form-control" ng-model="student.grade_level">
                          <option>Grade</option>
                          <option value="1">1st</option>
                          <option value="2">2nd</option>
                          <option value="3">3rd</option>
                          <option value="4">4th</option>
                          <option value="5">5th</option>
                          <option value="6">6th</option>
                          <option value="7">7th</option>
                          <option value="8">8th</option>
                          <option value="9">9th</option>
                          <option value="10">10th</option>
                          <option value="11">11th</option>
                          <option value="12">12th</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDataType" class="col-lg-3 control-label">Gender</label>
                      <div class="col-lg-9">
                        <select class="form-control" ng-model="student.gender">
                          <option>Gender</option>
                          <option value="m">Male</option>
                          <option value="f">Female</option>
                        </select>
                      </div>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Update</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
     </p>

	  </div>
	</div>
  </div>
</div>