<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
      <h3>{{student.fname}} {{student.lname}}</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Grade</th>
              <th>Gender</th>
              <th>Active</th>
            </tr>
          <thead>
          <tbody>
            <tr>
              <td>{{student.grade_level}}</td>
              <td>{{student.gender}}</td>
              <td>{{student.is_active}}</td>
            </tr>
         </tbody>
       </table>
	  </div>
	</div>
  </div>
</div>