<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
      <h3><img src="/assets/gradcap.png"> {{student.fname}} {{student.lname}} <a data-toggle="modal" href="#editStudentModal" class="btn btn-default btn-xs pull-right"><img src="/assets/edit.png" align="absmiddle"> Edit</a></h3>
      <p class="text-muted">Student ID: {{student.sid}} • Grade: {{student.grade_level}}th • Gender: {{gender}}</p>

        <div resize id="var-height-grid" ng-style="style()" ng-grid="gridOptions"></div>

       <p>

       <form class="form-inline-sm" role="form">
         <div class="form-group">
           <!-- Drop-down button -->
           <div class="btn-group dropup">
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{disabled: selections.length == 0}">
               Actions <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu">
               <li><a href="#">Compare</a></li>
               <li><a data-toggle="modal" href="#confirmRemovalModal">Remove from Class</a></li>
             </ul>
           </div>
         </div>
         <div class="form-group">
           <select class="form-control" ng-model="termId" ng-options="term.id as term.name for term in terms" name="term" style="width:135px;" ng-click="updateTerm()"></select>
         </div>
       </form>
     </p>

	  </div>
	</div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="resetValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">

          <form name="editStudentForm" class="form-horizontal" role="form">
              <div class="form-group" ng-class="validateFName && {'has-error': editStudentForm.fname.$invalid}">
                <label for="inputFName" class="col-lg-3 control-label">First Name</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="inputFName" ng-model="editStudent.fname" name="fname" ng-blur="validateFName=true" required>
                </div>
              </div>
              <div class="form-group" ng-class="validateLName && {'has-error': editStudentForm.lname.$invalid}">
                <label for="inputLName" class="col-lg-3 control-label">Last Name</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="inputLName" ng-model="editStudent.lname" name="lname" ng-blur="validateLName=true" required>
                </div>
              </div>
              <div class="form-group" ng-class="validateSid && {'has-error': editStudentForm.sid.$invalid}">
                <label for="inputSID" class="col-lg-3 control-label">Student ID</label>
                <div class="col-lg-9">
                  <input type="number" class="form-control" id="inputSID" ng-model="editStudent.sid" name="sid" ng-blur="validateSid=true" required>
                </div>
              </div>
              <div class="form-group" ng-class="validateGrade && {'has-error': editStudentForm.grade.$invalid}">
                <label for="inputStyle" class="col-lg-3 control-label">Grade</label>
                <div class="col-lg-9">
                  <select class="form-control" ng-model="editStudent.grade_level"  name="grade" ng-blur="validateGrade=true" required>
                    <option></option>
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                    <option value="9">9th</option>
                    <option value="10">10th</option>
                    <option value="11">11th</option>
                    <option value="12">12th</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputDataType" class="col-lg-3 control-label">Gender</label>
                <div class="col-lg-9">
                  <select class="form-control" ng-model="editStudent.gender">
                    <option value=""></option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputActive" class="col-lg-3 control-label">Active</label>
                <div class="col-lg-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="editStudent.is_active">
                      This student is currently active
                    </label>
                  </div>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" ng-click="resetValidation()" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" value="submit" ng-click="save()" ng-disabled="editStudentForm.$invalid">Update</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: Confirm Deletion -->
  <div class="modal fade" id="confirmRemovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirm Removal</h4>
        </div>
        <div class="modal-body">

          <div class="bs-callout bs-callout-warning">
            <h4>Warning</h4>
            <p>Are you sure you want to remove the student from this class? All of their assessment grades will be lost.</p>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a data-dismiss="modal" href="" ng-click="removeClass()" class="btn btn-warning">Remove</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>