<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Students</h3>
	  	  <!-- Search box -->
	  	  <p>
          <input type="text" class="form-control" placeholder="Search for a name or student ID..." />
        </p>

        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Active</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="student in data.students">
              <td><a ng-href="#/students/{{student.id}}">{{student.fname}} {{student.lname}}</a></td>
              <td>{{student.grade_level}}</td>
              <td>{{student.is_active}}</td>
            </tr>
         </tbody>
       </table>
       <p>
        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Delete</a></li>
            <li><a href="#">Activate/Deactivate</a></li>
            <li><a href="#">Add to Cohort</a></li>
            <li><a href="#">Compare</a></li>
          </ul>
        </div>

        <!-- Right-aligned button -->
        <button type="button" class="btn btn-default pull-right">Add Student</button>
      </p>
	  </div>
	</div>
  </div>
</div>