<div ng-controller="StudentListCtrl" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <h3><img src="/assets/gradcap.png"> Students</h3>
        <!-- <div>The following students are checked: {{checked_students}}</div> -->
        <!-- Search box -->
        <p>
          <input type="text" ng-model="gridOptions.filterOptions.filterText" class="form-control" placeholder="Search students..." />
        </p>

        <!-- Table -->
        <div resize id="var-height-grid" ng-style="style()" ng-grid="gridOptions"></div>
			<p>

      <div class="row-fluid">
        <div class="pull-left button-padding-vertical" style="width: 65%;">

          <!-- Drop-down button -->
          <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Compare</a></li>
              <li><a data-toggle="modal" href="#addToCohortModal">Add to Cohort</a></li>
              <li><a href="#">{{active && 'Activate' || 'Deactivate'}}</a></li>
              <li><a href="" ng-click="deleteStudent()" >Delete Student</a></li>
            </ul>
          </div>

          <!-- Button -->
          <button type="button" class="btn btn-default" ng-click="activateStudentsButton()" >Show {{active && 'Active' || 'Inactive'}}</button>

        </div>
        <div class="pull-right" style="width: 30%;">
          <!-- Right-aligned button trigger modal -->
          <a data-toggle="modal" href="#addStudentModal" class="btn btn-default pull-right">Add Student</a>
        </div>

        <div style="clear: both"></div>
      </div>


        </p>

      </div>
       <p>

        <!-- Modal -->
        <div ng-controller="AddStudent" class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" ng-click="resetValidation()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Student</h4>
              </div>
              <div class="modal-body">

                <form name="createStudentForm" class="form-horizontal" role="form">
                    <div class="form-group" ng-class="validateFName && {'has-error': createStudentForm.fname.$invalid}">
                      <label for="inputFName" class="col-lg-3 control-label">First Name</label>
                      <div class="col-lg-9">
                        <input name="fname" ng-model="newStudent.fname" type="text" class="form-control" id="inputFName" ng-blur="validateFName=true" placeholder="First Name" required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="validateLName && {'has-error': createStudentForm.lname.$invalid}">
                      <label for="inputLName" class="col-lg-3 control-label">Last Name</label>
                      <div class="col-lg-9">
                        <input name="lname" ng-model="newStudent.lname" type="text" class="form-control" id="inputLName" ng-blur="validateLName=true" placeholder="Last Name" required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="validateSid && {'has-error': createStudentForm.sid.$invalid}">
                      <label for="inputSID" class="col-lg-3 control-label">Student ID</label>
                      <div class="col-lg-9">
                        <input name="sid" ng-model="newStudent.sid" type="number" class="form-control" id="inputSID" ng-blur="validateSid=true" placeholder="Student ID" required>
                      </div>
                    </div>
                    <div class="form-group" ng-class="validateGrade && {'has-error': createStudentForm.grade.$invalid}">
                      <label for="inputStyle" class="col-lg-3 control-label">Grade</label>
                      <div class="col-lg-9">
                        <select name="grade" ng-model="newStudent.grade_level" ng-blur="validateGrade=true" class="form-control" required>
                          <option></option>
                          <option value="1">1st</option>
                          <option value="2">2nd</option>
                          <option value="3">3rd</option>
                          <option value="4">4th</option>
                          <option value="5">5th</option>
                          <option value="6">6th</option>
                          <option value="7">7th</option>
                          <option value="8">8th</option>
                          <option value="9">9th</option>
                          <option value="10">10th</option>
                          <option value="11">11th</option>
                          <option value="12">12th</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDataType" class="col-lg-3 control-label">Gender</label>
                      <div class="col-lg-9">
                        <select ng-model="newStudent.gender" class="form-control">
                          <option value=""></option>
                          <option value="m">Male</option>
                          <option value="f">Female</option>
                        </select>
                      </div>
                    </div>
                  </form>

              </div>
              <div class="modal-footer">
                <button ng-click="resetValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="save()" value="submit" class="btn btn-primary" ng-disabled="createStudentForm.$invalid">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- Modal -->
        <div class="modal fade" id="addToCohortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add to Cohort</h4>
              </div>
              <div class="modal-body">
                <input type="search" class="form-control input" placeholder="Search cohorts..." />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


      </p>
    </div>
  </div>
  </div>
</div