<div class="container">
  <div class="row">
	<div class="col-md-12">
	  <div class="box">
	  	<h3>Students</h3>
	  	<!-- <div>The following students are checked: {{checked_students}}</div> -->
	  	  <!-- Search box -->
	  	  <p>
          <input type="text" ng-model="search.$" ng-model="studentnamee.lname" class="form-control" placeholder="Search for a name or student ID..." />
       </p>

        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th><a href="" ng-click="predicate = 'fname'; reverse=!reverse">First Name</a><input type="text" ng-model="search.fname" class="form-control input-sm"/></th>
              <th><a href="" ng-click="predicate = 'lname'; reverse=!reverse">Last Name</a><input type="text" ng-model="search.lname" class="form-control input-sm" /></th>
              <th><a href="" ng-click="predicate = 'grade_level'; reverse=!reverse">Grade</a><input type="text" ng-model="search.grade_level" class="form-control input-sm" /></th>
              <th><a href="" ng-click="predicate = 'is_active'; reverse=!reverse">Active</a><input type="text" ng-model="search.is_active" class="form-control input-sm" /></th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="student in data.students | filter:search | orderBy:predicate:reverse">
              <td><input type='checkbox' value="{{student.id}}" check-list='checked_students'> <a ng-href="#/students/{{student.id}}">{{student.fname}}</a></td>
              <td><a ng-href="#/students/{{student.id}}">{{student.lname}}</a></td>
              <td>{{student.grade_level}}</td>
              <td>{{student.is_active}}</td>
            </tr>
         </tbody>
       </table>
       <p>
        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Delete</a></li>
            <li><a href="#">Deactivate</a></li>
            <li><a href="#">Add to Cohort</a></li>
            <li><a href="#">Compare</a></li>
          </ul>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-default">Show Inactive</button>

        <!-- Right-aligned button -->
        <button type="button" class="btn btn-default pull-right" >Add Student</button>
        
      </p>
	  </div>
	</div>
  </div>
</div>