<div ng-controller="UserListCtrl" class="container">
  <div class="row">
  	<div class="col-md-12">
  	  <div class="box">
  	    <h3>Users</h3>
  	  	<table class="table table-striped">
  	      <thead>
      		  <tr>
      		    <th>First Name</th>
      		    <th>Last Name</th>
      		    <th>Username</th>
      		    <th>Admin</th>
      		  </tr>
  		    <thead>
  		    <tbody>
      		  <tr ng-repeat="user in users">
      		    <td><a ng-href="#/users/{{user.id}}">{{user.fname}}</a></td>
      		    <td><a ng-href="#/users/{{user.id}}">{{user.lname}}</a></td>
      		    <td>{{user.username}}</td>
      		    <td>{{user.is_admin}}</td>
      		  </tr>
  		    </tbody>
  		  </table>
  		  <p>

        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Compare</a></li>
            <li><a href="#">{{active && 'Activate' || 'Deactivate'}}</a></li>
            <li><a href="#">Promote/Demote Admin</a></li>
            <li><a data-toggle="modal" href="#resetPasswordModal">Reset Password</a></li>
            <li><a href="#">Delete User</a></li>
          </ul>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-default" ng-click="activateUsersButton()">Show {{active && 'Active' || 'Inactive'}}</button> <!-- Change to Show Active when clicked -->

        <!-- Right-aligned button trigger modal -->
        <a data-toggle="modal" href="#createUserModal" class="btn btn-default pull-right">Create User</a>

        <!-- Modal -->
        <div class="modal fade" ng-controller="AddUser" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create User</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" ng-model="user.firstName" placeholder="First Name..." />
                    <input type="text" class="form-control input-sm" ng-model="user.teacherID" placeholder="Teacher ID..." />
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" ng-model="user.lastName" placeholder="Last Name..." />
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="user.adminEval" value="">
                        Administrator
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
              </div>
              <div class="modal-body">
                <p>
                  New Password: <br>
                  <input type="text" class="form-control input-sm" placeholder="BnGk!5sFM3ch" />
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Update</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </p>
  	  </div>
  	</div>
  </div>
</div>