<div ng-controller="UserListCtrl" class="container">
  <div class="row">
  	<div class="col-md-12">
  	  <div class="box">
  	    <h3><img src="/assets/apple.png"> Users</h3>

  	    <!-- Search box -->
        <p>
          <input type="text" ng-model="gridOptions.filterOptions.filterText" class="form-control" placeholder="Search for a name or username..." />
        </p>

  	    <!-- Table -->
  	  	<div resize ng-style="style()" ng-grid="gridOptions"></div>
  		  <p>

        <!-- Drop-down button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Bulk Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Compare</a></li>
            <li><a href="#">{{active && 'Activate' || 'Deactivate'}}</a></li>
            <li><a href="#">Promote/Demote Admin</a></li>
            <li><a href="#">Delete User</a></li>
          </ul>
        </div>

        <!-- Button -->
        <button type="button" class="btn btn-default" ng-click="activateUsersButton()">Show {{active && 'Active' || 'Inactive'}}</button> <!-- Change to Show Active when clicked -->

        <!-- Right-aligned button trigger modal -->
        <a data-toggle="modal" href="#createUserModal" class="btn btn-default pull-right">Create User</a>

        <!-- Modal -->
        <div class="modal fade" ng-controller="AddUser" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create User</h4>
              </div>
              <div class="modal-body">

                <form name="createUserForm" class="form-horizontal" role="form">
                  <div class="form-group" ng-class="validateFName && {'has-error': createUserForm.fname.$invalid}">
                    <label for="inputFName" class="col-lg-3 control-label">First Name</label>
                    <div class="col-lg-9">
                      <input ng-model="newUser.fname" type="text" class="form-control" id="inputFName" placeholder="First Name" name="fname" ng-blur="validateFName=true" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="validateLName && {'has-error': createUserForm.lname.$invalid}">
                    <label for="inputLName" class="col-lg-3 control-label">Last Name</label>
                    <div class="col-lg-9">
                      <input ng-model="newUser.lname" type="text" class="form-control" id="inputLName" placeholder="Last Name" name="lname" ng-blur="validateLName=true" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="validateUsername && {'has-error': createUserForm.username.$invalid}">
                    <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                      <input ng-model="newUser.username" type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" ng-blur="validateUsername=true" required>
                    </div>
                  </div>
                  <div class="form-group" ng-class="validatePassword && {'has-error': createUserForm.password.$invalid}">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                      <input ng-model="newUser.password" type="text" class="form-control" id="inputPassword" placeholder="Password" name="password" ng-blur="validatePassword=true" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAdmin" class="col-lg-3 control-label">Administrator</label>
                    <div class="col-lg-9">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="newUser.is_admin" value="">
                          This account is an administrator
                        </label>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button ng-click="resetValidation()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="save()" class="btn btn-primary" ng-disabled="createUserForm.$invalid">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </p>
  	  </div>
  	</div>
  </div>
</div>