<div class="container">
  <div class="row">
  	<div class="col-md-12">
  	  <div class="box">
  	    <h3>Users</h3>
  	  	<table class="table table-striped">
  	      <thead>
      		  <tr>
      		    <th>Name</th>
      		    <th>Username</th>
      		    <th>Active</th>
      		    <th>Admin</th>
      		  </tr>
  		    <thead>
  		    <tbody>
      		  <tr ng-repeat="user in data.users">
      		    <td><a ng-href="#/users/{{user.id}}">{{user.fname}} {{user.lname}}</a></td>
      		    <td>{{user.username}}</td>
      		    <td>{{user.is_active}}</td>
      		    <td>{{user.is_admin}}</td>
      		  </tr>
  		    </tbody>
  		  </table>
  	  </div>
  	</div>
  </div>
</div>