body {
  padding-top: 50px;
  background: url(../assets/debut_dark.png) repeat;
}

chart {
    display: block;
    width:400px;
    height:200px;
}

#perfGraph {
    width: 600px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}

.box {
    background-color: whitesmoke;
    min-height: 100px;
    padding: 0 19px;
    margin-top: 30px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius:4px;
    moz-border-radius:4px;
    border-radius:4px;
}

.btn-action {
	margin: 0px 10px 0px 0px;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.help-block-sm {
	display: block;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #737373;
}

.ngGrid {
	height: 400px;
}


.btn {
    margin: 2px;
}

.btn-img-sm {
    height: 10px;
    vertical-allign: text-top;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #3a87ad;
}

.modalNotification {
  height: 23px;
  margin-bottom: 10px;
}


@media(min-width:405px) {
  .form-inline-sm .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}



/* Table Styling */
.odd, .odd input {
  background-color: #F0F0F0;
}
.even, .even input {
  background-color: #FDFDFD;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width: 200px;
  position: absolute;
  left: -80px;
  bottom: 0px;
  z-index: 101;
}

.rotate2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width: 200px;
  position: absolute;
  bottom: 40px;
  left: -85px;
  z-index: 101;
}

.inputbox {
	background-color: inherit;
	padding-left: 5px;
	border: none;
	
	
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/* Assessment styling */
.assessment1-view1 {
  width: 100%; 
  overflow-y: hidden; 
  overflow-x: scroll;
}

.assessment1-heading-space {
  position: relative;
  float: left; 
  width: 138px; 
  z-index: 150;
}

.assessment1-heading-space-cover {
    border: 1px solid whitesmoke;
    position: absolute;
    float: left;
    width: 140px;
    height: 24px;
    z-index: 200;
    background-color: whitesmoke;
    margin-top: -1px;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}

.assessment1-criterion-name {
  border: 1px solid black; 
  position: relative; 
  /*background-color: #EEEEEE;*/
  text-align: center;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.assessment1-student {
  border: 1px solid black; 
  overflow: hidden;
  position: relative;
}

.assessment1-student-name {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 15px;
    height: 31px;
    float: left;
    left: 35px;
    position: absolute;
    z-index: 200;
    width: 140px;
    background-color: inherit;
    overflow: hidden;
    text-align: right;
    padding-right: 7px;
    padding-top: 5px;
}

.assessment1-criterion {
  border: 1px solid black; 
  width: 45px; 
  height: 30px;
}

.assessment1-criterion-input {
  width: 100%; 
  height: 30px; 
  text-align: center;
  margin-left: -1px;
}

.table-end {
  clear: both;
}